huggingface_hub==0.25.2
jurigged
fastapi[standard]==0.115.6
gradio==5.9.1
torch
accelerate
opencv-python-headless
spaces
pillow
numpy
timm
kornia
prettytable
typing
scikit-image
transformers>=4.39.1
loadimg>=0.1.1
einops
opencv-python